@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This application uses certain algorithms in order to detect social engineering patterns in a conversation, link, or even screenshot</p>
